.nav-container{
    width: 90%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 0;
}
.logo{
    width: 10%;
}
.logo img{
    width: 100%;
}
.navlinks{
    width: 55%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.navlinks a{
    font-size: 1rem;
    font-weight: 600;
    color: var(--text_color_1);
}
.navlinks a:hover{
    color: var(--orange);
}
.toggle{
    display: none;
   color: var(--text_color_1);
   cursor: pointer;
   font-size: 1.8rem;
}
.toggle:hover{
    color: var(--orange);
}
.buttons button{
    margin-right: 7px;
}
.nav-active{
    left: 0!important;
}
@media  screen and (max-width: 850px) {
    .toggle{
        display: block;
    }
    .logo{
        width: 20%;
    }
    .navlinks{
        padding: 2rem 0;
        position: absolute;
        top: 10%;
        left: -100%;
        width: 100%;
        background-color: var(--white);
        flex-direction: column;
        z-index: 2
    }
    .navlinks a{
        font-size: 1.2rem;
        margin-bottom: 20px;
    }
    .buttons{
        display: none;
    }
}
@media  screen and (max-width: 600px){
    .toggle{
        font-size: 1.4rem;
    }
}